USE [Trainee]
GO
/****** Object:  Table [dbo].[tbl_todoProjects]    Script Date: 16-12-2025 11:44:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_todoProjects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [varchar](30) NULL,
	[ProjectDescription] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](30) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ToDoStatus]    Script Date: 16-12-2025 11:44:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ToDoStatus](
	[StatusID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](15) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](30) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ToDoTasks]    Script Date: 16-12-2025 11:44:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ToDoTasks](
	[TasksID] [bigint] IDENTITY(1,1) NOT NULL,
	[TaskTitle] [varchar](100) NULL,
	[ProjectID] [int] NULL,
	[StatusID] [tinyint] NULL,
	[UserID] [bigint] NULL,
	[DueDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](30) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[TasksID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_todoUsers]    Script Date: 16-12-2025 11:44:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_todoUsers](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](30) NULL,
	[Email] [varchar](100) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[Role] [varchar](20) NULL,
	[Provider] [varchar](10) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](30) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_todoProjects] ON 

INSERT [dbo].[tbl_todoProjects] ([ProjectID], [ProjectName], [ProjectDescription], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Hello', N'Just a test version', 1, CAST(N'2025-10-31T15:34:08.217' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_todoProjects] ([ProjectID], [ProjectName], [ProjectDescription], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'New Project1', N'A new project with multiple goals', 1, CAST(N'2025-10-31T15:42:41.543' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_todoProjects] ([ProjectID], [ProjectName], [ProjectDescription], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'FFFA', N'FAggg', 0, CAST(N'2025-11-01T12:14:21.387' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_todoProjects] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ToDoStatus] ON 

INSERT [dbo].[tbl_ToDoStatus] ([StatusID], [Status], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'To Do', 1, CAST(N'2025-11-05T13:36:41.850' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_ToDoStatus] ([StatusID], [Status], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'In Progress', 1, CAST(N'2025-11-05T13:36:41.850' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_ToDoStatus] ([StatusID], [Status], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'Done', 1, CAST(N'2025-11-05T13:36:41.850' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_ToDoStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ToDoTasks] ON 

INSERT [dbo].[tbl_ToDoTasks] ([TasksID], [TaskTitle], [ProjectID], [StatusID], [UserID], [DueDate], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Check Alignment', 1, 1, 2, CAST(N'2025-11-22T00:00:00.000' AS DateTime), 1, CAST(N'2025-10-31T16:47:32.770' AS DateTime), N'Raj', NULL, NULL)
INSERT [dbo].[tbl_ToDoTasks] ([TasksID], [TaskTitle], [ProjectID], [StatusID], [UserID], [DueDate], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'Arrange Design', 2, 2, 1, CAST(N'2025-10-11T11:25:27.633' AS DateTime), 1, CAST(N'2025-10-31T16:57:04.423' AS DateTime), N'Raj kumar', NULL, NULL)
INSERT [dbo].[tbl_ToDoTasks] ([TasksID], [TaskTitle], [ProjectID], [StatusID], [UserID], [DueDate], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'Finish the task', 1, 3, 2, CAST(N'2025-11-12T14:20:59.697' AS DateTime), 1, CAST(N'2025-10-31T17:29:42.050' AS DateTime), N'Raj kumar', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_ToDoTasks] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_todoUsers] ON 

INSERT [dbo].[tbl_todoUsers] ([UserID], [FullName], [Email], [PasswordHash], [Role], [Provider], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Raj kumar', N'rajkumarsur20@gmail.com', NULL, N'Junior', N'Firebase', 1, CAST(N'2025-10-28T16:33:49.607' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_todoUsers] ([UserID], [FullName], [Email], [PasswordHash], [Role], [Provider], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'Mathavi', N'mathavi11112004@gmail.com', N'$2a$11$IN9Yg12vFnnPnqDsG8UuCeSd4vHeqBRp4oDLSL3zTL6MQA6el8NY6', N'Junior', N'Custom', 1, CAST(N'2025-10-28T17:23:54.890' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_todoUsers] ([UserID], [FullName], [Email], [PasswordHash], [Role], [Provider], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (10002, N'Dulcy', N'dulcy.navroj@zoifintech.com', N'$2a$11$Q6Q8/u.BjhDc8HIgkA/ljutIobDU4V/52NypMMZEK2gHFXakdP4NO', N'Junior', N'Custom', 1, CAST(N'2025-11-12T15:47:10.123' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_todoUsers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_todo__A9D10534906C8CD9]    Script Date: 16-12-2025 11:44:13 ******/
ALTER TABLE [dbo].[tbl_todoUsers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_todoProjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_todoProjects] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_ToDoStatus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_ToDoStatus] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_ToDoTasks] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_ToDoTasks] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_todoUsers] ADD  DEFAULT ('Junior') FOR [Role]
GO
ALTER TABLE [dbo].[tbl_todoUsers] ADD  DEFAULT ('Custom') FOR [Provider]
GO
ALTER TABLE [dbo].[tbl_todoUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_todoUsers] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
