USE [Trainee]
GO
/****** Object:  StoredProcedure [dbo].[SP_ToDoCustomLogin]    Script Date: 16-12-2025 11:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Raj
-- Create date: 28-Oct-2025
-- Description:	To 
-- =============================================
CREATE PROCEDURE [dbo].[SP_ToDoCustomLogin] 
	-- Add the parameters for the stored procedure here
	@Email VARCHAR(100)
	, @Password NVARCHAR(255)
AS
BEGIN
	BEGIN TRY
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;

		DECLARE @Hash NVARCHAR(255)
		SELECT TOP 1 @Hash = PasswordHash FROM tbl_todoUsers WITH(NOLOCK)
		WHERE Email = @Email AND Provider IN ('Custom', 'Both')

		IF @Hash IS NULL
		BEGIN
			 SELECT NULL AS Email, NULL AS PasswordHash

			 SELECT 'F' AS Status, 'User not found' AS Message
             RETURN
		END
		ELSE
		BEGIN
			SELECT TOP 1 UserID, FullName, Email, PasswordHash, [Role], [Provider]
			FROM tbl_todoUsers WITH(NOLOCK)
			WHERE Email = @Email

			SELECT 'S' AS Status, 'User Exists' AS Message
		END
	END TRY
    BEGIN CATCH
        SELECT 'F' AS Status, ERROR_MESSAGE() AS Message, NULL AS ID
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ToDoGetProjects]    Script Date: 16-12-2025 11:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Raj
-- Create date: 31-Oct-2025
-- Description:	To get projectId, name
-- =============================================
CREATE PROCEDURE [dbo].[SP_ToDoGetProjects]
AS
BEGIN
	BEGIN TRY
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;

		-- Insert statements for procedure here
		SELECT ProjectID, ProjectName, ProjectDescription FROM tbl_todoProjects WITH(NOLOCK)
		WHERE IsActive = 1

		SELECT 'S' AS Status, 'Success' AS Message, NULL AS ID
	END TRY
	BEGIN CATCH
		SELECT 'F' AS Status, ERROR_MESSAGE() AS Message, NULL AS ID
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ToDoGetProjectsById]    Script Date: 16-12-2025 11:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Raj
-- Create date: 08-Nov-2025
-- Description:	to get projects by id
-- =============================================
CREATE PROCEDURE [dbo].[SP_ToDoGetProjectsById] 
	@ProjectID INT = 0
AS
BEGIN
	BEGIN TRY
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;

		IF EXISTS(SELECT 1 FROM tbl_todoProjects WHERE ProjectID = @ProjectID)
		BEGIN
			SELECT ProjectID, ProjectName, ProjectDescription FROM tbl_todoProjects WITH(NOLOCK)
			WHERE ProjectID = @ProjectID AND IsActive = 1 

			SELECT 'S' AS Status, 'Success' AS Message, NULL AS ID
		END
		ELSE
		BEGIN
			SELECT 'F' AS Status, 'ProjectId not exists' AS Message, NULL AS ID
		END
		
	END TRY
	BEGIN CATCH
		SELECT 'F' AS Status, ERROR_MESSAGE() AS Message, NULL AS ID
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ToDoGetStatus]    Script Date: 16-12-2025 11:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Raj
-- Create date: 31-Oct-2025
-- Description:	To get Sections
-- =============================================
CREATE PROCEDURE [dbo].[SP_ToDoGetStatus]
AS
BEGIN
	BEGIN TRY
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;

		-- Insert statements for procedure here
		SELECT StatusID, Status FROM tbl_ToDoStatus WITH(NOLOCK)

		SELECT 'S' AS Status, 'Success' AS Message, NULL AS ID
	END TRY
	BEGIN CATCH
		SELECT 'F' AS Status, ERROR_MESSAGE() AS Message, NULL AS ID
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ToDoGetTasks]    Script Date: 16-12-2025 11:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Raj
-- Create date: 31-Oct-2025
-- Description:	To get tasks
-- =============================================
CREATE PROCEDURE [dbo].[SP_ToDoGetTasks]
AS
BEGIN
	BEGIN TRY
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;

		-- Insert statements for procedure here
		SELECT TasksID, TaskTitle, P.ProjectName, S.[Status], U.FullName
			, FORMAT(DueDate, 'dd-MMM-yyyy') AS DueDate
		FROM tbl_ToDoTasks AS T WITH(NOLOCK)
		LEFT JOIN tbl_todoProjects AS P WITH(NOLOCK)
		ON T.ProjectID = P.ProjectID
		LEFT JOIN tbl_ToDoStatus AS S WITH(NOLOCK)
		ON T.StatusID = S.StatusID
		LEFT JOIN tbl_todoUsers AS U WITH(NOLOCK)
		ON T.UserID = U.UserID
		WHERE T.IsActive = 1

		SELECT 'S' AS Status, 'Success' AS Message, NULL AS ID
	END TRY
	BEGIN CATCH
		SELECT 'F' AS Status, ERROR_MESSAGE() AS Message, NULL AS ID
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ToDoGetTasksById]    Script Date: 16-12-2025 11:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Raj
-- Create date: 13-Nov-2025
-- Description:	To get tasks by id
-- =============================================
CREATE PROCEDURE [dbo].[SP_ToDoGetTasksById]
	@TasksID BIGINT = 0
AS
BEGIN
	BEGIN TRY
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;

		-- Insert statements for procedure here
		IF EXISTS(SELECT 1 FROM tbl_ToDoTasks WHERE TasksID = @TasksID)
		BEGIN
			SELECT TasksID, TaskTitle, ProjectID, StatusID, UserID, FORMAT(DueDate, 'dd-MMM-yyyy') AS DueDate
			FROM tbl_ToDoTasks WITH(NOLOCK)
			WHERE TasksID = @TasksID AND IsActive = 1

			SELECT 'S' AS Status, 'Success' AS Message, NULL AS ID
		END
		ELSE
		BEGIN
			SELECT 'F' AS Status, 'ID not found!' AS Message, NULL AS ID
		END
	END TRY
	BEGIN CATCH
		SELECT 'F' AS Status, ERROR_MESSAGE() AS Message, NULL AS ID
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ToDoGetUsers]    Script Date: 16-12-2025 11:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Raj
-- Create date: 31-Oct-2025
-- Description:	To get Users
-- =============================================
CREATE PROCEDURE [dbo].[SP_ToDoGetUsers]
AS
BEGIN
	BEGIN TRY 
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;

		-- Insert statements for procedure here
		SELECT UserID, FullName FROM tbl_todoUsers WITH(NOLOCK)

		SELECT 'S' AS Status, 'Success' AS Message, NULL AS ID
	END TRY
	BEGIN CATCH
		SELECT 'F' AS Status, ERROR_MESSAGE() AS Message, NULL AS ID
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ToDoSaveProjects]    Script Date: 16-12-2025 11:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Raj
-- Create date: 30-Sep-2025
-- Description:	To insert/update Projects
-- =============================================
CREATE PROCEDURE [dbo].[SP_ToDoSaveProjects]
	@ProjectID INT = 0
	, @Flag BIT = 0
	, @ProjectName VARCHAR(30) = NULL
	, @ProjectDescription VARCHAR(200) = NULL
	, @CreatedBy VARCHAR(30) = NULL
AS
BEGIN
	BEGIN TRY
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;

		-- Insert statements for procedure here
		IF( @Flag = 1 )
		BEGIN
			UPDATE tbl_todoProjects
			SET IsActive = 0
			WHERE ProjectID = @ProjectID

			SELECT 'S' AS Status, 'Projected Deleted Successfully' AS Message, NULL AS ID
		END

		ELSE IF( @ProjectID IS NULL OR @ProjectID = 0)
		BEGIN 
			INSERT INTO tbl_todoProjects( ProjectName, ProjectDescription, CreatedBy )
			VALUES ( @ProjectName, @ProjectDescription, @CreatedBy )

			SELECT 'S' AS Status, 'Projected Created Successfully' AS Message, SCOPE_IDENTITY() AS ID
		END
		ELSE
		BEGIN 
			UPDATE tbl_todoProjects
			SET
				ProjectName = @ProjectName
				, ProjectDescription = @ProjectDescription
				, CreatedBy = @CreatedBy
			WHERE ProjectID = @ProjectID

			SELECT 'S' AS Status, 'Projected Updated Successfully' AS Message, @ProjectID AS ID
		END
	END TRY
	BEGIN CATCH
		SELECT 'F' AS Status, ERROR_MESSAGE() AS Message, NULL AS ID
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ToDoSaveTasks]    Script Date: 16-12-2025 11:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Raj
-- Create date: 31-Oct-2025
-- Description:	To insert/update Tasks
-- =============================================
CREATE PROCEDURE [dbo].[SP_ToDoSaveTasks]
	@TasksID BIGINT = 0
	, @TaskTitle VARCHAR(100) = NULL
	, @ProjectID INT = 0
	, @StatusID TINYINT = 0
	, @UserID BIGINT = 0
	, @DueDate DATETIME = NULL
	, @CreatedBy VARCHAR(30) = NULL
AS
BEGIN
	BEGIN TRY
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;

		-- Insert statements for procedure here
		IF(@TasksID IS NULL OR @TasksID = 0)
		BEGIN
			INSERT INTO tbl_ToDoTasks ( TaskTitle, ProjectID, StatusID, UserID, DueDate, CreatedBy )
			VALUES ( @TaskTitle, @ProjectID, @StatusID, @UserID, @DueDate, @CreatedBy )

			SELECT 'S' AS Status, 'Tasks Created Successfully' AS Message, SCOPE_IDENTITY() AS ID
		END
		ELSE
		BEGIN
			UPDATE tbl_ToDoTasks
			SET
				TaskTitle = @TaskTitle
				, ProjectID = @ProjectID
				, StatusID = @StatusID
				, UserID = @UserID
				, DueDate = @DueDate
				, CreatedBy = @CreatedBy
			WHERE TasksID = @TasksID

			SELECT 'S' AS Status, 'Tasks Updated Successfully' AS Message, @TasksID AS ID
		END
	END TRY
	BEGIN CATCH
		SELECT 'F' AS Status, ERROR_MESSAGE() AS Message, NULL AS ID
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ToDoSaveUsers]    Script Date: 16-12-2025 11:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Raj
-- Create date: 27-Oct-2025
-- Description:	To insert/update users
-- =============================================
CREATE PROCEDURE [dbo].[SP_ToDoSaveUsers]
	@ID INT = 0
	, @FullName VARCHAR(30) = NULL
	, @Email VARCHAR(100) = NULL 
	, @PasswordHash NVARCHAR(255) = NULL
	, @Role VARCHAR(20) = 'Junior'
	, @Provider VARCHAR(10) = 'Custom'
AS
BEGIN
	BEGIN TRY
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;
		IF EXISTS ( SELECT 1 FROM tbl_todoUsers WITH(NOLOCK) WHERE Email = @Email )
		BEGIN 
			UPDATE tbl_todoUsers
				SET
					FullName = ISNULL(@FullName, FullName),
					[Role] = ISNULL(@Role, [Role]),
					[Provider] = CASE 
						WHEN [Provider] = 'Custom' AND @Provider = 'Firebase' THEN 'Both'
						WHEN [Provider] = 'Firebase' AND @Provider = 'Custom' THEN 'Both'
						ELSE [Provider]
                END
				WHERE Email = @Email

			SELECT 'S' AS Status, 'Updated Successfully' AS Message
				, (SELECT UserID FROM tbl_todoUsers WHERE Email = @Email) AS ID		
		END
		ELSE
		BEGIN
			-- Insert statements for procedure here
			INSERT INTO tbl_todoUsers( FullName, Email, PasswordHash, [Role], [Provider] )
			VALUES ( @FullName, @Email, @PasswordHash, @Role, @Provider )

			SELECT 'S' AS Status, 'Inserted Successfully' AS Message, SCOPE_IDENTITY() AS ID
		END
	END TRY
	BEGIN CATCH
		SELECT 'F' AS Status, ERROR_MESSAGE() AS Message, NULL AS ID
	END CATCH
END
GO
